<div class="container justify-content-center bg-color">
    <div>
        <ul class="nav nav-tabs mb-3 ">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="http://localhost:4200/track-expense">Track
                    Expense</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:4200/add-expense">Add Expense</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:4200/category-expense">Category Expense</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:4200/view-profile">View Profile</a>
            </li>
        </ul>
    </div>
    <div class="row" *ngIf="!isLoading">
            <div class="row">
                <div class="col-sm-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Current Year Expense(in Total)</h5>
                            <p class="card-text">Expense Amount:</p>
                            <a class="btn btn-primary">Rs. {{totalExpenseList?.yearlyExpense}}</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Current Month Expense(in Total)</h5>
                            <p class="card-text">Expense Amount:</p>
                            <a href="#" class="btn btn-primary">Rs.{{totalExpenseList?.monthlyExpense}}</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Current Week Expense(in Total)</h5>
                            <p class="card-text">Expense Amount:</p>
                            <a href="#" class="btn btn-primary">Rs. 0000</a>
                        </div>
                    </div>
                </div>
            </div>
        <div class=" mb-3">
            <label>Filter By Date Range:</label>
            <input type="date" placeholder="startDate" (change)="onSelectStart($event)">
            <input type="date" placeholder="endDate" (change)="onSelectEnd($event)">
            <button class="btn btn-primary" (click)="applyFilter()">Apply</button>
            <ul *ngIf="!filter">
                <span>HI</span>
                <div>{{expenseList | json}}</div>
                <li *ngFor="let expense of expenseList">
                    <div class="card">
                        <div class="card-body">
                            <div>{{expense.description }}</div>
                            <div>{{ expense.categoryName }}</div>
                            <div>{{expense.amount }}</div>
                            <!-- <tr>
                                <td>
                                    <h5> {{expense.description }}</h5>
                                </td>
                                <td>
                                    <p> Amount: Rs.{{ expense.amount }}</p>
                                </td>
                                <td>
                                    <p class="card-text"> Category: {{ expense.categoryName }}</p>
                                </td>
                                <td>
                                    <p> Date: {{expense.date|date}}</p>
                                </td>
                            </tr> -->
                        </div>
                    </div>
                </li>
            </ul>
            <!-- <ul *ngIf="filter">
                <li *ngFor="let expenseFilter of expenseFilterList ">
                    <div class="card">
                        <div class="card-body">
                            <tr>
                                <td>
                                    <h5> {{ expenseFilter.description }}</h5>
                                </td>
                                <td>
                                    <p> Amount: Rs.{{ expenseFilter.amount }}</p>
                                </td>
                                <td>
                                    <p class="card-text"> Category: {{ expenseFilter.categoryName }}</p>
                                </td>
                                <td>
                                    <p> Date: {{expenseFilter.date|date}}</p>
                                </td>
                            </tr>
                        </div>
                    </div>
                </li>
            </ul> -->
        </div>
    </div>
</div>